{
  "openapi": "3.0.0",
  "info": {
    "title": "Ananas Project API",
    "version": "1.0.0",
    "description": "Comprehensive API specification for the Ananas Project microservices"
  },
  "servers": [
    {
      "url": "https://api.ananas-project.com/v1"
    }
  ],
  "paths": {
    "/iam/users": {
      "get": {
        "tags": ["IAM"],
        "summary": "List users",
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["IAM"],
        "summary": "Create user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created"
          }
        }
      }
    },
    "/iam/users/{userId}": {
      "get": {
        "tags": ["IAM"],
        "summary": "Get user details",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details"
          }
        }
      },
      "put": {
        "tags": ["IAM"],
        "summary": "Update user",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User updated"
          }
        }
      }
    },
    "/products": {
      "get": {
        "tags": ["Products"],
        "summary": "List products",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of products"
          }
        }
      },
      "post": {
        "tags": ["Products"],
        "summary": "Create product",
        "responses": {
          "201": {
            "description": "Product created"
          }
        }
      }
    },
    "/products/{productId}": {
      "get": {
        "tags": ["Products"],
        "summary": "Get product details",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product details"
          }
        }
      }
    },
    "/products/{productId}/inventory": {
      "get": {
        "tags": ["Products"],
        "summary": "Get product inventory",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product inventory details"
          }
        }
      }
    },
    "/orders": {
      "get": {
        "tags": ["Orders"],
        "summary": "List orders",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of orders"
          }
        }
      },
      "post": {
        "tags": ["Orders"],
        "summary": "Create order",
        "responses": {
          "201": {
            "description": "Order created"
          }
        }
      }
    },
    "/orders/{orderId}": {
      "get": {
        "tags": ["Orders"],
        "summary": "Get order details",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details"
          }
        }
      },
      "put": {
        "tags": ["Orders"],
        "summary": "Update order status",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order updated"
          }
        }
      }
    },
    "/payments": {
      "post": {
        "tags": ["Payments"],
        "summary": "Process payment",
        "responses": {
          "200": {
            "description": "Payment processed"
          }
        }
      },
      "get": {
        "tags": ["Payments"],
        "summary": "List payments",
        "responses": {
          "200": {
            "description": "List of payments"
          }
        }
      }
    },
    "/payments/{paymentId}": {
      "get": {
        "tags": ["Payments"],
        "summary": "Get payment details",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment details"
          }
        }
      }
    },
    "/payments/refunds": {
      "post": {
        "tags": ["Payments"],
        "summary": "Process refund",
        "responses": {
          "200": {
            "description": "Refund processed"
          }
        }
      }
    },
    "/notifications": {
      "post": {
        "tags": ["Notifications"],
        "summary": "Send notification",
        "responses": {
          "200": {
            "description": "Notification sent"
          }
        }
      },
      "get": {
        "tags": ["Notifications"],
        "summary": "List notifications",
        "responses": {
          "200": {
            "description": "List of notifications"
          }
        }
      }
    },
    "/notifications/templates": {
      "get": {
        "tags": ["Notifications"],
        "summary": "List notification templates",
        "responses": {
          "200": {
            "description": "List of templates"
          }
        }
      },
      "post": {
        "tags": ["Notifications"],
        "summary": "Create notification template",
        "responses": {
          "201": {
            "description": "Template created"
          }
        }
      }
    },
    "/loyalty/points": {
      "get": {
        "tags": ["Loyalty"],
        "summary": "Get user points",
        "responses": {
          "200": {
            "description": "User points details"
          }
        }
      },
      "post": {
        "tags": ["Loyalty"],
        "summary": "Add points",
        "responses": {
          "200": {
            "description": "Points added"
          }
        }
      }
    },
    "/loyalty/rewards": {
      "get": {
        "tags": ["Loyalty"],
        "summary": "List available rewards",
        "responses": {
          "200": {
            "description": "List of rewards"
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": ["Search"],
        "summary": "Search products",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results"
          }
        }
      }
    },
    "/search/suggestions": {
      "get": {
        "tags": ["Search"],
        "summary": "Get search suggestions",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search suggestions"
          }
        }
      }
    },
    "/content": {
      "get": {
        "tags": ["Content"],
        "summary": "List content",
        "responses": {
          "200": {
            "description": "List of content"
          }
        }
      },
      "post": {
        "tags": ["Content"],
        "summary": "Create content",
        "responses": {
          "201": {
            "description": "Content created"
          }
        }
      }
    }
  }
}
